worker_processes {{ nginx_worker_processes }};
worker_connections {{ nginx_worker_connections }};

http {
    upstream php {
        server unix:{{ php_fpm_listen }} weight=1;
    }

    server {
        listen 80;
        server_name {{ ansible_hostname }};
        root /var/www/html;
        index index.php;

        location / {
            try_files $uri $uri/ /index.php?$query_string;
        }

        location ~ \.php$ {
            try_files $uri /index.php =404;
            fastcgi_pass php;
            fastcgi_index index.php;
            fastcgi_param SCRIPT_FILENAME $document_root$fastcgi_script_name;
            include fastcgi_params;
        }
    }
}
